<div class="grid">
  <div>
    <p class="sentence">
      <span class="sentence" data-tooltip="click to reveal pinyin">
        <%= zh_sentence %>
      </span>
    </p>
  </div>
  <div>
    <details>
      <summary>Pinyin</summary>
      <p>
        <%= pinyin %>
      </p>
    </details>
    <details>
      <summary>English translation</summary>
      <p>
        <%= en_sentence %>
      </p>
    </details>
    <% if (has_audio) { %>
      <details>
        <summary>Reveal audio</summary>
        <audio controls>
          <source src="/audio/<%= audio_id %>" type="audio/ogg">
          Your browser does not support the audio element.
        </audio>
      </details>
      <% } %>
  </div>
</div>
<div class="grid quiz-buttons">
  <div>
    <button hx-post="/answer">I know this.</button>
  </div>
  <div>
    <button hx-post="/answer">I forgot this.</button>
  </div>
  <div>
    <button hx-post="/answer">I don't know this.</button>
  </div>
</div>