[submodule "vendor/pico"]
	path = vendor/pico
	url = https://github.com/picocss/pico.git
[submodule "vendor/complete-hsk-vocabulary"]
	path = vendor/complete-hsk-vocabulary
	url = https://github.com/drkameleon/complete-hsk-vocabulary.git
[submodule "vendor/htmx"]
	path = vendor/htmx
	url = https://github.com/bigskysoftware/htmx.git
[submodule "vendor/ChengyuBench"]
	path = vendor/ChengyuBench
	url = https://github.com/sofyc/ChengyuBench.git
[submodule "vendor/chinese-poetry"]
	path = vendor/chinese-poetry
	url = https://github.com/chinese-poetry/chinese-poetry.git
[submodule "vendor/chengyu-dictionary"]
	path = vendor/chengyu-dictionary
	url = https://github.com/MegamindHenry/chengyu-dictionary.git
