<section>
  <p>This is a web app that I created to help myself study Chinese (specifically 普通话). I use it to supplement my
    learning on my phone using HelloChinese & Pleco. Unfortunately, neither of those apps have any sort of desktop
    client so I wanted the ability to test myself on a laptop or desktop computer.</p>


  <a href="/new" role="button" class="contrast">Try out practice-zh quizzes</a>

  <h2>Development</h2>
  <p>The main features I plan to add are:</p>
  <ul>
    <li>Phrase and sentence-based quizzes. I already get lots of practice on the apps with individual character
      quizzes which I feel is insufficient.</li>
    <li>Create a flash card system with <a href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank">spaced
        repetition</a>.</li>
    <li>Track progress and performance over time.</li>
  </ul>
  <p>Some stretch goals include <a href="https://docs.cloud.google.com/text-to-speech/docs/reference/rest"
      target="_blank">integrating
      Google's APIs for text-to-speech</a> so you can hear both question and answer phrases.</p>
  <p>I have <i>little-to-no interest</i> in adding AI to this project. What I will likely use are LLM chat bots,
    such
    as ChatGPT & Gemini, to generate phrases to use as the test data. My goal is to be able to generate 1000's of
    phrases, store them in a database and ensure they are grammatically correct while allowing phrases to be more
    "dynamic" (for example, using different adjectives on specific subject/noun combinations). Because this is meant
    to be used for learning, I am prioritizing accuracy over variety (for now).</p>
  <p>This project is open source so you can find the code on <a href="https://github.com/coopernetes/practice-zh"
      target="_blank">GitHub</a>. I don't plan on hosting this anywhere except
    locally for the time being. You are free to self-host and play around if you wish.</p>

</section>