<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/public/css/pico.slate.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="/public/js/htmx.min.js"></script>
    <script src="/public/js/main.js"></script>
    <title>Practice 中文</title>
    <script>
      if (window.matchMedia("(prefers-color-scheme: light)").matches) {
        document.documentElement.setAttribute("data-theme", "light");
      }
    </script>
  </head>

  <body>
    <header class="container-fluid">
      <div class="grid">
        <div style="align-content: start; justify-self: start">
          <h1><a href="/" style="text-decoration: none">Practice 中文</a></h1>
          <p><i>学习中文（普通话）</i></p>
        </div>
        <div style="justify-self: end; align-self: center">
          <span id="theme-toggle-wrapper" style="margin: 0">
            <%- include('partials/theme-button', { theme: 'dark' }) %>
          </span>
        </div>
      </div>
      <nav>
        <ul>
          <li>
            <a
              href="/quiz"
              role="button"
              hx-get="/quiz"
              hx-target="#content-area"
              hx-push-url="true"
              >New quiz</a
            >
          </li>
          <li>
            <a
              href="/random"
              role="button"
              hx-get="/random"
              hx-target="#content-area"
              hx-push-url="true"
              >Random</a
            >
          </li>
          <li>
            <a
              href="/progress"
              role="button"
              hx-get="/progress"
              hx-target="#content-area"
              hx-push-url="true"
              >Progress</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <span id="logout-message"></span>
            <div class="grid" id="right-button-grid">
              <div id="right-button-1-1">
                <a href="/login" role="button" id="login-button">Login</a>
              </div>
              <div id="right-button-1-2">
                <a
                  hx-post="/logout"
                  role="button"
                  id="logout-button"
                  hx-target="#logout-message"
                  hx-swap="innerHTML"
                  >Logout</a
                >
              </div>
              <div id="right-button-2-1">
                <a href="/settings" id="settings-button" role="button"
                  >Settings</a
                >
              </div>
              <div id="right-button-2-2">
                <a href="/word-banks" id="word-banks-button" role="button"
                  >Word Banks</a
                >
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container-fluid" id="content-area"><%- body %></main>

    <footer class="container-fluid" id="footer-area">
      <hr />
      <div class="grid">
        <div>
          <p>
            <a
              href="/privacy"
              hx-get="/privacy"
              hx-target="#content-area"
              hx-push-url="true"
              >Privacy Policy</a
            >&nbsp;|&nbsp;
            <a
              href="https://coopernetes.github.io/practice-zh/blog"
              target="_blank"
              >Blog</a
            >&nbsp;|&nbsp;
            <a href="https://github.com/coopernetes/practice-zh" target="_blank"
              >GitHub</a
            >
          </p>
        </div>
        <div style="justify-self: end">
          <p>
            Built on
            <a href="https://www.fastify.dev/" target="_blank">Fastify</a>,
            <a href="https://htmx.org/" target="_blank">htmx</a> &amp;
            <a href="https://picocss.com/" target="_blank">pico</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
