<section>
  <h2>About</h2>

  <p>
    practice-zh is a web app I built to support my own Chinese learning,
    specifically Standard Mandarin (普通话). It’s designed to complement
    commercial apps like HelloChinese and Pleco, but with a focus on usability
    on desktop and customizability.
  </p>

  <p>
    All language content in the app is derived from open source and/or public
    domain resources, including official HSK vocabulary lists,
    <a
      href="https://www.mdbg.net/chinese/dictionary?page=cc-cedict"
      target="_blank"
      >CC-CEDICT Chinese English dictionary</a
    >, and corpora like
    <a href="https://tatoeba.org/" target="_blank">Tatoeba</a> for the actual
    testing content. No proprietary data is used in the app directly to respect
    the intellectual property of those who create Chinese learning materials.
  </p>

  <p>
    The source code is available on
    <a href="https://github.com/coopernetes/practice-zh" target="_blank"
      >GitHub</a
    >. If you're interested in following along as I build this app, I'm writing
    random thoughts in a blog on the
    <a href="https://coopernetes.github.io/practice-zh/blog" target="_blank"
      >doc site</a
    >.
  </p>
</section>
