<section>
  <article>
    <div
      hx-get="/sentence"
      hx-target="this"
      hx-trigger="revealed"
      hx-swap="outerHTML"
      <% if (typeof id !== 'undefined') { %>hx-vals='{"id": "<%= id %>"}'<% } %>
    >
      Loading...
    </div>
  </article>
</section>
